<div class="home-container">
    <a class="link"
    routerLink="/plays" 
    routerLinkActive="active">
        <button mat-raised-button 
        color="accent" 
        style="width : 250px; 
        height : 100px; 
        font-size: x-large; 
        font-weight: 700; 
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 10%;
        border-radius: 25px"> 
            Schedule
        </button>
    </a>
</div>
<div></div>
<div class="home-container">
    <a class="link"
    routerLink="/library" 
    routerLinkActive="active">
    <button mat-raised-button 
    color="accent" 
    style="width : 250px; 
    height : 100px; 
    font-size: x-large; 
    font-weight: 700; 
    margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 10%;
        border-radius: 25px">
            Play Library
        </button>
    </a>
</div>
<div></div>
<div class="home-container">
    <a class="link"
    routerLink="/add" 
    routerLinkActive="active">
    <button mat-raised-button 
    color="accent" 
    style="width : 250px; 
    height : 100px; 
    font-size: x-large; 
    font-weight: 700; 
    margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 10%;
        border-radius: 25px">
            Add Plays
        </button>
    </a>
</div>
    
<router-outlet></router-outlet>
    